Body {
  margin: 1rem;
  font-family: 'Indie Flower', cursive;
  line-height: 1.5;
  background: #3e3e7b;
  color: #a7f8a7;
}
nav,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playfair Display", serif;
}

p {
  color: #a7f8a7;
}
a {
  color: orange;
  padding: 10px;
}
.juice {
  color: #c896ff;
}
h1 {
  text-align: center;
}
