Body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background: #3e3e7b;
  color: #a7f8a7;
}
p {
  color: #a7f8a7;
}
a {
  color: orange;
}
.juice {
  color: #c896ff;
}
h1 {
  text-align: center;
}

nav,main{
  display: flex;
  flex-direction: column;
  align-items: center;
}