/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
body {
  background: #3e3e7b;
  color: #a7f8a7;
}
p {
  color: #a7f8a7;
}
a{
  color: orange;
}
.juice {
  color: #c896ff; 
}